body {
  font-family: "Lato";
  text-align: center;
  background: #fffae6;
  color: #012744;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d24335;
}

a {
  color: #b2e097;
}

default-color-1: #1a222f;
default-color-2: #008e74;
default-color-3: #b2e097;
default-color-4: #d24335;
default-color-5: #1c3a40;
