body {
  font-family: "Lato";
  text-align: center;
  background: #f6dcbf;
  color: #012744;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e1701a;
}

nav {
  background: linear-gradient(130deg, #f7a440, #e1701a 76.05%);
}

a {
  color: #aaaaaa;
}
